<div class="nav-bar">
    <a class="nav-bar__home-button" href="{% link index.md %}">
        <img src="https://cdn.threesixtygiving.org/components/preview/assets/images/360-logos/main/360giving-logo.svg"
            style="height: 84px;" />
        <span class="screen-reader-only">Home</span>
    </a>

    <nav class="nav-bar__nav-menu">
        <ul>

            <li class="nav-menu__item">

                <a class="nav-menu__button" href="{% link about.md %}">
                    About
                </a>
            </li>

            <li class="nav-menu__item">

                <a class="nav-menu__button" href="https://threesixtygiving.org/">
                    About 360Giving


                </a>
            </li>

        </ul>
    </nav>
</div>