<nav class="sidebar-blog">
    <ul class="sidebar-blog__content categories-list">
        {% if '/' == page.url %}
        <li class="categories-list__item category category--active">
            <a class="" href="{{ page.url | absolute_url }}#top">{{ page.title }}</a>
            {{ content | toc_only }}
        </li>
        {% else %}
        <li class="categories-list__item category">
            <a class="" href="{{ '/' | absolute_url }}">Introduction</a>
        </li>
        {% endif %}
        {% for guidance_page in site.guidance %}
            {% if guidance_page.url == page.url %}
            <li class="categories-list__item category category--active">
                <a class="" href="{{ guidance_page.url | absolute_url }}#top">{{ guidance_page.title }}</a>
                {{ content | toc_only }}
            </li>
            {% else %}
            <li class="categories-list__item category">
                <a class="" href="{{ guidance_page.url | absolute_url }}">{{ guidance_page.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>