<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.threesixtygiving.org/css/main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .prose h1 > a,
        .prose h2 > a,
        .prose h3 > a,
        .prose h4 > a,
        .prose h5 > a,
        .prose h6 > a {
            display: none;
        }
        .prose h1:hover > a,
        .prose h2:hover > a,
        .prose h3:hover > a,
        .prose h4:hover > a,
        .prose h5:hover > a,
        .prose h6:hover > a {
            display: inline;
        }
    </style>
</head>

<body>
    <div class="layout layout--docs">

        <header class="layout__header">
            <div class="" style="background-color: var(--color-red);
            color: var(--colors-white);
            padding: 1rem;
            text-align: center;">DEVELOPMENT SITE - NOT FOR GENERAL USE</div>

            {% include navbar.html %}
        </header>

        <div class="layout__body">
            <aside class="layout__sidebar">
                {% include sidebar.html %}
            </aside>
            <div class="layout__content">
                <main class="layout__content-inner">
                    <div class="prose prose--left">
                        <section class="prose__section">
                            <span id="top"></span>
                            {{ content }}
                        </section>
                    </div>
                </main>
                <footer class="layout__footer">
                    {% include footer.html %}
                </footer>
            </div>
        </div>

    </div>

    <script>
        document.querySelectorAll(".prose h1[id], .prose h2[id], .prose h3[id], .prose h4[id], .prose h5[id], .prose h6[id]").forEach((el) => {
            var link = document.createElement("a");
            link.setAttribute('href', `#${el.id}`);
            link.setAttribute('area-hidden', 'true');
            link.setAttribute('tabindex', '-1');
            link.style.marginLeft = '8px';
            link.innerText = "#";
            el.append(link);
        });
    </script>

<script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "Re540iLhZf");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>

</body>

</html>
